.auth-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
}

.auth-form .input-group {
    width: 100%;
}

.auth-form input[type="text"], 
.auth-form input[type="email"],
.auth-form input[type="password"] {
    padding: 0.75rem 1rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
} 

.auth-form input[type="text"]:hover, 
.auth-form input[type="email"]:hover,
.auth-form input[type="password"]:hover,
.auth-form input[type="submit"]:hover {
    box-shadow: 0 0 0.35em rgba(0, 0, 0, 0.25);
}

.auth-form input[type="text"]:focus, 
.auth-form input[type="email"]:focus,
.auth-form input[type="password"]:focus {
    outline: var(--secondary-color) solid 0.05rem;
}

.auth-form .message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}

.auth-form .message.error {
    color: red;
}

.auth-form .message.success {
    color: green;
}

.auth-form input[type="submit"] {
    outline: none;
    padding: 0.5rem 0.75rem;
    border: none;
}

.auth-error {
    color: red;
    margin: 1rem auto 0;
}