.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navlinks {
    list-style: none;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.nav-link {
    display: inline-block;
    margin: 0 0.5rem;
}

.nav-link a {
    color: inherit;
    padding-bottom: 0.1rem;
    border-bottom: 2px solid transparent;
}

.nav-link a:hover {
    border-color: var(--accent-color);
}

.account-theme-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .navbar {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}