:root {
    --light-bg-color: #F5F5F5;
    --dark-bg-color: #0F1626;
    --light-primary-color: #0F1626;
    --dark-primary-color: #F5F5F5;
    --accent-color: #FF533D;
    --secondary-color: #286DA8; 
    --card-bg-color: #FFFFFF;
}