@import url('./styles/reset.css');
@import url('./styles/variables.css');
@import url('./styles/booklist.css');
@import url('./styles/toast.css');
@import url('./styles/tbr.css');
@import url('./styles/auth.css');
@import url('./styles/account.css');

.App {
    min-height: 100vh;
}

.app-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem;
    min-height: 90vh;
}

.App.light {
    background-color: var(--light-bg-color);
    color: var(--light-primary-color);
}

.App.dark {
    background-color: var(--dark-bg-color);
    color: var(--dark-primary-color);
}

.App.light a {
    color: var(--light-primary-color);
}

.App.dark a {
    color: var(--dark-primary-color);
}

.link.link.link-home {
    background-color: var(--accent-color);
    color: var(--card-bg-color);
    padding: 0 0.25rem;
    border-radius:4px;
}

.form {
    width: 100%;
    display: flex;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.form input[type="search"] {
    flex-basis: 90%;
    flex-grow: 1;
    outline: none;
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

.form input[type="search"]:focus {
    border-color: var(--secondary-color);
}

.form input[type="submit"] {
    outline: none;
    padding: 0.5rem 0.75rem;
    border: 2px solid transparent;
    background-color: var(--card-bg-color);
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -ms-transition: transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
}

.form input[type="submit"]:hover {
    box-shadow: 0 0 0.25em rgba(0,0,0,0.25);
}

.form input[type="submit"]:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/* Footer styles */
.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--card-bg-color);
    padding:1rem;
}

.author {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 0.5em;
}

.not-found-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}